.social-links {
  display: flex;
  justify-content: space-between;
  width: 100px;
  z-index: 99;
  padding: $padding-header;
  padding-left: 0;
  box-sizing: content-box;
}

.btn {
  @include fontstack-semibold;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 1rem 2rem;
  color: #fff;
  margin-top: .5rem;
  margin-bottom: .5rem;
  transition: .1s ease-in-out;
}

.btn-outline {
  @extend .btn;
  border: 1px solid #fff;
  background-color: $transparent;
  &:hover {
    background-color: $color-secondary;
    text-decoration: none;
    color: #fff;
  }
}

.btn-submit {
  @extend .btn;
  border: 0px;
  background-color: $color-link;
}

.email {
  @extend .btn;
  border: 1px solid #fff;
  background-color: $transparent;
  color: #fff;
}
