

@media screen and (max-width: 768px) {

  //BELOW bootstrap md size

  html {
    font-size: 12px;
  }

  .header {
    background-size: 150%;
    height: (350px / 2);
  }


  .bottom {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col {
    padding-left: 0;
    padding-right: 0;
  }

  .mt-5 {
    margin-top: 12rem !important;
  }

}

@media screen and (min-width: 360px) {
  .header {
    height: 200px;
  }
}

@media screen and (min-width: 410px) {
  .header {
    height: 225px;
  }
}

@media screen and (min-width: 460px) {
  .header {
    height: 250px;
  }
}
@media screen and (min-width: 510px) {
  .header {
    height: 275px;
  }
}
@media screen and (min-width: 570px) {
  .header {
    height: 300px;
  }
}
@media screen and (min-width: 615px) {
  .header {
    height: 325px;
  }
}
@media screen and (min-width: 669px) {
  .header {
    height: 350px;
  }
}
@media screen and (min-width: 710px) {
  .header {
    height: 375px;
  }
}
@media screen and (min-width: 1025px) {
  .header {
    height: 35vw !important;
  }
  .pt-0 {
    margin-top: -30px;
  }
}
