

@media screen and (max-width: 768px) {

  //BELOW bootstrap md size

  html {
    font-size: 12px;
  }

  .header {

    img {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      margin-left: auto;
      margin-right: auto;
    }

    .social-links {
      display: none;
    }

    &::after {
      transform: matrix(1, -0.0874887, 0, 1, 0, -30);
    }
  }

  .header-center {
    width: 100%;
    margin-top: 2rem;
  }
  .header-left,
  .header-right {
    display: none;
  }

  .bottom {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col {
    padding-left: 0;
    padding-right: 0;
  }

  .mt-5 {
    margin-top: 12rem !important;
  }

}


@media screen and (min-width: 768px) {

  // ABOVE bootstrap md size

  .header {

    &::after {
      transform: matrix(1, -0.0874887, 0, 1, 0, -50);
    }

  }

  .footer {
    .social-links {
      display: none;
    }
  }

}

@media screen and (min-width: 1440px) {

  .header {

    &::after {
      height: 200px;
      transform: matrix(1, -0.0874887, 0, 1, 0, -60);
    }

  }
}

@media screen and (min-width: 1660px) {

  .header {

    &::after {
      transform: matrix(1, -0.0874887, 0, 1, 0, -80);
    }
  }
}
