$color-link: #2A285F; //dark grey/blue
$color-primary: #00BCE7; //blue
$color-secondary: #F15D22; //rustic orange
$color-tertiary: #9F248F;
$color-grey: #9B9B9B;

$overlay-secondary: rgb(241, 93, 34);

$transparent: rgba( 0, 0, 0, 0);

$padding-header: 1.25rem 3.125rem;
